# 阿里云 DashScope API Key
DASHSCOPE_API_KEY=sk-a673b9ac8f7e4a139e1569a6320e2caa

# 可选配置
AIGLASS_MASK_MIN_AREA=1500
AIGLASS_MASK_MORPH=3
AIGLASS_MASK_MISS_TTL=6
AIGLASS_PANEL_SCALE=0.65
TTS_INTERVAL_SEC=1.0
ENABLE_TTS=true


AIGLASS_AMP=

BLIND_PATH_MODEL=model/yolo-seg.pt
OBSTACLE_MODEL=model/yoloe-11l-seg.pt
YOLOE_MODEL_PATH=model/yoloe-11l-seg.

CUDA_VISIBLE_DEVICES=0